h1 span {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Rubik", sans-serif;
  font-size: 96px;
  color: #103150;
  text-shadow: 1px 1px #4898e6;
}
h1 span.ng:nth-child(1) {
  letter-spacing: 23px;
}
h1 span:nth-child(2) {
  font-family: 'Lato', sans-serif;
  color: #114475;
  font-size:80px;
}
h1 span:nth-child(3) {
  color: rgba(46, 10, 68, 0.7);
  line-height: 45px;
  font-size:55px;
}
h1 span:last-child {
  font-family: 'Lato', sans-serif;
}
h1 span.slash {
  font-weight: normal;
  color: #4898e6;
  text-shadow: 0px 0 3px #0e4377;
  font-size: 56px;
}
h1 span:nth-child(2), h1 span:nth-child(4) {
  font-size: 56px;
}

h1 span span.slash{
    font-size: 56px;
}

img{ opacity:0;position:absolute; top:150px;}
