<!--https://codepen.io/Milleus/pen/XWWEKqm-->
<div fxLayout="column" fxLayoutAlign="start center">
  <h1>
    <span>Loading</span>
  </h1>
  <!--<h1> Kros.Omni.Khan <span>a.i.</span> </h1>-->
  <h1> DEEPSPEED AI </h1>
</div>
<!--<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>-->
<div class="container warlock">
  <div class="circle c1"></div>
  <div class="circle c2"></div>
  <div class="circle c3"></div>
  <div class="circle c4"></div>
  <div class="shape_group">
    <div class="shape s1"></div>
    <div class="shape s2"></div>
    <div class="shape s3"></div>
    <div class="shape s4"></div>
    <div class="shape s5"></div>
    <div class="shape s6"></div>
  </div>
  <div class="line_group g1">
    <div class="line l1"></div>
    <div class="line l2"></div>
    <div class="line l3"></div>
    <div class="line l4"></div>
  </div>
  <div class="line_group g2">
    <div class="line l1"></div>
    <div class="line l2"></div>
    <div class="line l3"></div>
    <div class="line l4"></div>
  </div>
  <div class="line_group g3">
    <div class="line l1"></div>
    <div class="line l2"></div>
    <div class="line l3"></div>
    <div class="line l4"></div>
  </div>
</div>
