<nav>
  <button class="btn btn-primary" routerLink="/upload" routerLinkActive="router-link-active">Image Classifier</button>
  <button class="btn btn-primary" routerLink="/webcam" routerLinkActive="router-link-active">WebCam Image Classifier</button>
  <button class="btn btn-primary" routerLink="/sentiment" routerLinkActive="router-link-active">Sentiment Analysis</button>
  <button class="btn btn-primary" routerLink="/speech-commands" routerLinkActive="router-link-active">Speech Commands</button>
  <button class="btn btn-primary" routerLink="/blockchain" routerLinkActive="router-link-active">Block Chain</button>
  <!--<button class="btn btn-primary" onclick="window.location.href = 'https://krosomnikhan.com/faceapi/webcamFaceLandmarkDetection.html';"  routerLinkActive="router-link-active">Facial Recognition</button>-->
</nav>
